* {
    box-sizing: border-box;
}
html, body, #root {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    color: $main-black;
}
.container {
    height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}
.button {
    @include buttonColor($main-accent-hsl, $additional-accent-hsl, #fff);
    border-radius: 8px;
    border: none;
    padding: 11px 48px;
    cursor: pointer;
    &:hover {
        @include buttonColor($main-accent-hsl-10, $additional-accent-hsl-10, #fff);
    }
    &:active {
        @include buttonColor($main-accent-hsl-20, $additional-accent-hsl-20, #fff);
    }
    &:disabled {
        background: $light-gray;
    }
}
a {
    text-decoration: none;
    color: $main-black;
    &:hover,
    &:active {
        color: $main-accent;
    }
    &:disabled {
        color: $dark-gray;
    }
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1, h2, h3, p{
    margin: 0;
}
.order-page__container {
    flex-grow: 1;
    max-width: 1376px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 auto;
}
.order-page__wrapper {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: $desktop-min-width) {
    .order-page__container {
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media screen and (max-width: $mobile-width) {
    .order-page__container {
        padding-top: 16px;
    }
}
