@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.start-screen {
    flex: 1 1 688px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 64px;
    &__content {
        flex-grow: 1;
    }
    &__footer{
        flex-shrink: 0;
    }
    &__substrate {
        background: rgba(21, 27, 31, 0.81);
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
    }
    &__info {
        z-index: 200;
        background-color: $black-background;
        color: #fff;
        padding: 0;
        margin: 0;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__logo{
        @include textSettings($bold, 30px, 35px, $main-accent);
    }
    &__location {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include textSettings($regular, 14px, 16px, $dark-gray);
    }
    &__city{
        margin-left: 7.5px;
    }
}
.content {
    margin-top: 163px;
    &__header {
        @include textSettings($bold, 70px, 66px, $main-black);
    }
    &__name {
        margin-top: 4px;
        @include textSettings($bold, 70px, 66px, $main-accent);
    }
    &__desc {
        margin-top: 34px;
        @include textSettings($light, 26px, 30px, $dark-gray);
    }
    &__button {
        display: inline-block;
        margin-top: 60px;
    }
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__copyright {
        @include textSettings($regular, 13px, 15px, $dark-gray);
    }
    &__phone {
        @include textSettings($regular, 13px, 15px, $main-black);
    }
}
@media screen and (max-width: $desktop-min-width) {
    .start-screen {
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media screen and (max-width: $mobile-width) {
    .start-screen {
        padding: 0;
        padding-top: 16px;
        padding-bottom: 0;
        width: 100%;
    }
    .header{
        flex-direction: column;
        align-self: flex-end;
        align-items: flex-end;
        margin-right: 16px;
        &__location {
            margin-top: 8px;
        }
    }
    .content {
        width: 100%;
        margin-top: 34px;
        padding-left: 16px;
        padding-right: 16px;
        &__header {
            font-size: 32px;
            line-height: 32px;
        }
        &__name {
            margin-top: 6px;
            font-size: 32px;
            line-height: 32px;
        }
        &__desc {
            margin-top: 16px;
            font-size: 18px;
            line-height: 21px;
        }
        &__button {
            margin-left: -16px;
            border-radius: 0;
            width: 100vw;
        }
    }
    .footer {
        padding: 16px;
        background-color: $black-background;
        flex-direction: column;
        align-items: flex-end;
        &__copyright {
            color: $light-gray;
            font-size: 13px;
            line-height: 15px;
        }
        &__phone {
            color: $main-accent;
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 8px;
            order: -1;
            &:hover,
            &:active {
                color: $light-gray;
            }
        }
    }
}